<div class="notice">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>


  <section>
    <br>
      <div class="small-6 small-centered text-center columns">
        <% if !user_session %>
          <div class="active">
            <%= link_to 'Rate Movies', 'users/sign_up', class: "button small radius " %>
          </div>
        <% else %>
          <div class="active">
            <%= link_to 'Add a Movie', new_movie_path, class: "button shiny-edge small radius " %>
            <%= link_to 'View Recommendations',"users/#{@user.id}", class: "button small radius" %>
          </div>
        <% end %>
      </div>

      <ul class = "movies small-6 small-centered columns">
        <% if user_session %>
          <% @movies.each do |movie| %>
            <li>
              <%= movie.title %>
              <div class="right">
                  <% (1..5).each do |i| %>
                    <%= rating(current_user, i, movie) %>
                  <% end %>
              </div>
            </li>
          <% end %>
          <div class="small-10 small-centered text-center columns" >
            <%= paginate @movies %>
          </div>
        <% end %>
      </ul>
    </section>
