<p class="notice">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <section >
        <ul>
          <% if !user_session %>
            <li class="active">
              <%= link_to 'Rate Movies', 'users/sign_up', class: "button" %>
            </li>
          <% else %>
            <li class="active">
              <%= link_to 'Add a Movie', new_movie_path, class: "button" %>
              <%= link_to 'View Recommendations',"users/#{@user.id}", class: "button" %>
            </li>
          <% end %>
        </ul>

        <ul class = "movies">
          <% if user_session %>
            <% @movies.each do |movie| %>
              <li><%= movie.title %></li>
              <ul>
                <% (1..5).each do |i| %>
                  <%= rating(current_user, i, movie) %>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </ul>
    </section>
</p>
