<div class="small-4 small-centered columns">
  <h4>
    <div class="text-center">
      Add a Movie
    </div>
  </h4>
  <%= simple_form_for @movie do |f| %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :url, label:'IMDb URL', as: :string %>

    <div class="text-center">
      <%= f.submit "Add Movie" %>
    </div>
  <% end %>
</div>
